.ulPortfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.ulPortfolio li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    flex: 1 1 calc(33.333% - 1rem);
    text-align: center;
}

.ulPortfolio li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}


@media screen and (max-width: 1024px) {
    .ulPortfolio {
        justify-content: space-around;
    }

    .ulPortfolio li {
        font-size: 1.4rem;
        flex: 1 1 calc(50% - 1rem);
    }
}

@media screen and (max-width: 768px) {
    .ulPortfolio {
        justify-content: space-between;
    }

    .ulPortfolio li {
        font-size: 1.2rem;
        flex: 1 1 calc(33.333% - 1rem);
        margin-bottom: 1rem;
    }
}
