.wrap {
    width: 100%;
    height: auto;
    color: var(--var-color-text);
    padding: 0 3rem;
    align-items: start;
    margin-top: 38rem;
}

.title {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

.secondTitle {
    color: var(--var-color-text-header-btn);
    text-transform: uppercase;
    font-weight: bold;
}

.skillsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.skillsBlockSingleWrap {
    width: 30%;
    height: 18rem;
    align-items: start;
}


