.wrap {
    width: 100%;
    height: 100vh;
    justify-content: end;
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--var-bg-header);
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.circle:hover {
    border: 3px solid var(--var-bg-header);
}

.git {
    background: var(--var-bg);
    color: snow;
    font-size: 1.7rem;
}