.wrap {
    width: 95%;
    background: var(--var-bg-header);
    height: 4rem;
    position: fixed;
    top: 1rem;
    border-radius: 1rem;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    z-index: 999;
}

.menuIcon {
    display: none;
}

.btn {
    width: 8.5rem;
    padding: 0.7rem;
    border: 1px solid var(--var-color-text-header-btn);
    border-radius: 1rem;
    color: var(--var-color-text-header-btn);
    background: var(--var-bg-header);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}

.select:hover{
    border: 3px solid var(--var-color-text-header-btn);
    color: var(--var-color-text-header-btn);
}
.btn:hover{
    border: 3px solid var(--var-color-text-header-btn);
    color: var(--var-color-text);
}

.select {
    width: 3.5rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--var-bg-header);
    color: var(--var-color-text);
    font-weight: bold;
    font-size: 0.9rem;
    border: 1px solid var(--var-color-text-header-btn);
    cursor: pointer;
    padding: 0 0.3rem;
}

.option {
    padding: 0.5rem;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
}

@media screen and (max-width: 768px){
    .wrap {
        width: 100%;
        height: 2.5rem;
    }

    nav {
        display: none;
        color: var(--var-color-text-header-btn);
        font-size: 1.5rem;
    }

    .menuIcon {
        display: block;
        color: var(--var-color-text-header-btn);
        font-size: 2rem;
        cursor: pointer;
    }

    .menuIcon:hover {
        color: var(--var-color-text);
    }

    .menuMedia {
        width: 100%;
        height: 100vh;
        background: var(--var-bg-header);
        position: absolute;
        top: 95%;
        left: 0;
    }


    .select {
        width: 3rem;
        height: 1rem;
        border-radius: 1rem;
        font-weight: bold;
        font-size: 0.5rem;
        cursor: pointer;
    }

    .select:hover{
        border: 2px solid var(--var-color-text-header-btn);
        color: var(--var-color-text-header-btn);
    }

    .option {
        font-style: italic;
        font-weight: bold;
        font-size: 0.5rem;
    }

    .btn {
        display: none;
    }
}





