* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --var-bg: #3b3d3d;
    --var-bg-header: #696b68;
    --var-color-text-header-btn: #25ba9f;
    --var-color-text: #fcfcfc
}

.width {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-direction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: var(--var-color-text);
}

a:hover {
    color: var(--var-color-text-header-btn);
}

.active > li{
    color: var(--var-color-text-header-btn);
    text-decoration: underline;
    font-style: normal;
}

.margin-right{
    margin-right: 1rem;
}


