.wrap {
    background: var(--var-bg);
    min-height: 100vh;
}

.layoutBlock {
    width: 100%;
    justify-content: space-between;
    height: 100vh;
}

.imgBlock {
    width: 35%;
    position: fixed;
    height: 100vh;
}

.img {
    width: 100%;
    height: 100%;
}

.linkBlock {
    width: 7%;
    height: 100vh;
    position: fixed;
    right: 0;
    left: auto;
    background: var(--var-bg);
}

.outletBlock {
    width: 58%;
    border-right: 1px solid var(--var-bg-header);
    margin-left: 35%; /* Ширина лівого блоку */
    margin-right: 7%; /* Ширина правого блоку */
    background: var(--var-bg);
}
