.wrap {
    background: var(--var-bg);
    /*min-height: 100vh;*/
}

.layoutBlock {
    justify-content: space-between;
    height: 100vh;
}

.imgBlock {
    width: 35%;
    position: fixed;
    height: 100vh;
}

.img {
    width: 100%;
    height: 100%;
}

.linkBlock {
    width: 7%;
    height: 100vh;
    position: fixed;
    right: 0;
    left: auto;
    background: var(--var-bg);
}

.outletBlock {
    width: 58%;
    height: auto;
    border-right: 1px solid var(--var-bg-header);
    margin: 0 7% 0 35%;
    background: var(--var-bg);
}

@media screen and (max-width: 768px) {
    .layoutBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 10rem;
        margin-top: 20rem;
    }

    .imgBlock {
        width: 100%;
        position: static;
        height: 28rem;
    }

    .img {
        width: 100%;
        height: 100%;
    }

    .outletBlock {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .linkBlock {
        width: 100%;
        position: static;
        height: auto;
    }
}
