.wrap {
    background: var(--var-bg);
    min-height: 100vh;
}

.layoutBlock {
    width: 100%;
    justify-content: space-between;
    height: 100vh;
}

.imgBlock {
    width: 35%;
    position: fixed;
    height: 100vh;
}

.img {
    width: 100%;
    height: 100%;
}

.linkBlock {
    width: 7%;
    height: 100vh;
    justify-content: end;
    position: fixed;
    right: 0;
    left: auto;
    background: var(--var-bg);
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--var-bg-header);
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.circle:hover {
    border: 3px solid var(--var-bg-header);
}

.git {
    background: var(--var-bg);
    color: snow;
    font-size: 1.7rem;
}

.outletBlock {
    width: 58%;
    border-right: 1px solid var(--var-bg-header);
    min-height: 100rem;
    margin-left: 35%; /* Ширина лівого блоку */
    margin-right: 7%; /* Ширина правого блоку */
    background: var(--var-bg);
}
